{% load static %}
 {% include "manager_includes.html" %}
 
<body class="">
    <section class="vbox">
        <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
        <!-- nav -->
     {% include "manager_nav.html" %}
        <!-- / nav -->
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
                    <section class="vbox">
                        <section class="w-f scrollable">
                             <!-- nav -->
                                    {% include "manager_sidebar.html" %}
                                <!-- / nav -->
                        </section>
                        
                    </section>
                </aside>
                <!-- /.aside -->
                <section id="content">
                    <section class="vbox">
                        <section class="scrollable padder">
                            <div class="m-b-md">
                        <h3 class="m-b-none">Banners</h3> </div>







<section class="panel panel-default"> 
<header class="panel-heading font-bold"> Add Banner</header>

 <div class="panel-body"> 
    <form action="banner/create" enctype="multipart/form-data" class="form-horizontal" method="post">
    





      <div class="form-group"> 
     <label class="col-sm-2 control-label">Banner</label>
     <div class="col-sm-10"> 
     
     <input type="file" name="banner" id="banner" class="form-control" />
     </div> 
     </div> 




     
     {% csrf_token %}
    
   


 <div class="form-group"> 
      <div class="col-sm-4 col-sm-offset-2"> 
       <button type="submit" class="btn btn-primary">Save changes</button> 
      
      </div> 



      </form>
</div>
<!-- End panel -->
</section>








                            <section class="panel panel-default">
                                <header class="panel-heading"> Banners <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> </header>
                                <div class="table-responsive">
            <table class="table table-striped m-b-none" 
            data-toggle="table"
            data-pagination="true"
           data-side-pagination="server" 
           id="products">
                                        <thead>
                                            <tr>
                                                <th  data-field="id" width="5%">ID</th>
                                                 <th   data-formatter="fetchAsync"></th>
                                                <th  data-field="name" width="15%">Name</th>
                                                <th  data-field="category" width="15%">Category</th>
                                                <th  data-field="author" width="20%">Author</th>
                                                <th  data-field="description" width="30%">Description</th>
                                                <th  data-field="price" width="5%">Price</th>
                                                 <th  data-formatter="displayEdit"> </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                </section>
            </section>
        </section>
    </section>
    <!-- Bootstrap -->
    <!-- App -->
    {% include "script.html" %}
     <script>
  
    var $table = $('#products');
	   
    $(function () {
	var number=0;
        $table.on('page-change.bs.table', function (e, number, size) {
            getData(number, size);
        });
        var options = $table.bootstrapTable('getOptions');
        getData(options.pageNumber, options.pageSize);
    });
    function getData(number, size) {
	if(isNaN(number)){
	number=1;
	}
        $.get('media/list', {
            offset: (number - 1) * size,
            limit: size
        }, function (res) {
            console.log(res)
            $table.bootstrapTable('load', res);
        });
    }

    function displayEdit(value, row) {
 
         return "<a class='btn btn-sm btn-primary' href='#' onclick='editRow("+row.id+")'>Edit</a>  "+
         "<a class='btn btn-sm btn-danger' href='#' onclick='deleteRowContent("+row.id+")'>Delete</a>"
    "</ul>"
    }

    function deleteRowContent(id){
              location.href="media/delete/"+id

          }

    function fetchAsync(value, row){
	if(row.image!=""){
	if(row.image.indexOf("http") !=-1){
	data='<img width="150px" heigh="70px" class="lazy" data-src="" id="img_'+row.id+'" src="'+row.image+'"/>'
	}
	else{
        data='<img width="150px" heigh="70px" class="lazy" data-src="" id="img_'+row.id+'" src="../static/thumbs/'+row.image+'"/>'
		}
        }else{
        data=''
        }
        return data;
	}
    </script>
</body>

</html>