{% load static %}
 {% include "manager_includes.html" %}

 
<body class="">
    <section class="vbox">
        <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
        <!-- nav -->
     {% include "manager_nav.html" %}
        <!-- / nav -->
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
                    <section class="vbox">
                        <section class="w-f scrollable">
                             <!-- nav -->
                                    {% include "manager_sidebar.html" %}
                                <!-- / nav -->
                        </section>
                        
                    </section>
                </aside>
                <!-- /.aside -->
                <section id="content">
                    <section class="vbox">
                        <section class="scrollable padder">
                            <div class="m-b-md">
                        <h3 class="m-b-none">Admin</h3> </div>






{% if data.editadmin %}

    <section class="panel panel-default">
<header class="panel-heading font-bold">Update Admin</header>

 <div class="panel-body">
    <form action="/manager/admin/update" class="form-horizontal" method="post">



     <div class="form-group">
     <label class="col-sm-2 control-label">Username</label>
     <div class="col-sm-10">

     <input type="text" name="username" id="username" class="form-control" value="{% if data.admin.username %}{{ data.admin.username }}{% endif %}">
     </div>
     </div>

     <div class="line line-dashed b-b line-lg pull-in"></div>

     <div class="form-group">

     <label class="col-lg-2 control-label">Password</label>
     <div class="col-lg-10">
     <input type="password" name="password" id="password" class="form-control" placeholder="password">
     </div>
     </div>

  <div class="line line-dashed b-b line-lg pull-in"></div>


      <div class="form-group">

     <label class="col-lg-2 control-label">Role</label>
     <div class="col-lg-10">
         <select name="role" id="role" class="form-control">
   {% for r in data.role %}

        <option {% if data.admin.role == r.id %}selected{% endif %} value={{r.id}}>{{r.name}}</option>
   {% endfor %}
         </select>
     </div>
     </div>


       <div class="line line-dashed b-b line-lg pull-in"></div>
<input type="hidden" name="uid" id="uid" class="form-control" value="{% if data.admin.id %}{{ data.admin.id }}{% endif %}">


{% csrf_token %}
 <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
      <button type="submit" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Save changes</button>

      </div>

</form>
</div>
<!-- End panel -->
</section>
{% endif %}
<section class="panel panel-default"> 
<header class="panel-heading font-bold"> Create New Role</header> 

 <div class="panel-body"> 
    <form action="/manager/admin/createrole" class="form-horizontal" method="post">
    
  
     
     <div class="form-group"> 
     <label class="col-sm-2 control-label">Name</label> 
     <div class="col-sm-10"> 
     
     <input type="text" name="name" id="name" class="form-control" placeholder="role">
     </div> 
     </div> 
     {% csrf_token %}
    
   


 <div class="form-group"> 
      <div class="col-sm-4 col-sm-offset-2"> 
       <button type="submit" class="btn btn-primary">Save changes</button> 
      
      </div> 

      </form>
</div>
<!-- End panel -->
</section>



<section class="panel panel-default"> 
<header class="panel-heading font-bold"> Create New Admin</header> 

 <div class="panel-body"> 
    <form action="/manager/admin/create" class="form-horizontal" method="post">
    
  
     
     <div class="form-group"> 
     <label class="col-sm-2 control-label">Username</label> 
     <div class="col-sm-10"> 
     
     <input type="text" name="username" id="username" class="form-control" placeholder="username"> 
     </div> 
     </div> 
     
     <div class="line line-dashed b-b line-lg pull-in"></div> 
     
     <div class="form-group"> 
     
     <label class="col-lg-2 control-label">Password</label> 
     <div class="col-lg-10"> 
     <input type="password" name="password" id="password" class="form-control" placeholder="password"> 
     </div> 
     </div> 

  <div class="line line-dashed b-b line-lg pull-in"></div> 


      <div class="form-group"> 
     
     <label class="col-lg-2 control-label">Role</label> 
     <div class="col-lg-10"> 
         <select name="role" id="role" class="form-control">
   {% for r in data.role %}
        <option value={{r.id}}>{{r.name}}</option>
   {% endfor %}
         </select>
     </div> 
     </div> 


       <div class="line line-dashed b-b line-lg pull-in"></div> 
   

{% csrf_token %}
 <div class="form-group"> 
      <div class="col-sm-4 col-sm-offset-2"> 
      <button type="submit" class="btn btn-default">Cancel</button> 
      <button type="submit" class="btn btn-primary">Save changes</button> 
      
      </div> 

</form>
</div>
<!-- End panel -->
</section>



<section class="panel panel-default">
                                <header class="panel-heading"> Admin <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> </header>
                                <div class="table-responsive">
                                    <table 
                                    class="table table-striped m-b-none" 
                                    data-toggle="table"
                                    data-pagination="true"
                                    data-side-pagination="server"
                                    id="adminusers">
                                        <thead>
                                            <tr>
                                                <th data-field="id" width="20%">Id</th>
                                                <th data-field="username" width="20%">Username</th>
                                                <th data-field="role" width="25%">Role</th>
                                                <th data-field="status" width="25%">Status</th>
                                                <th  data-formatter="displayAdminEdit"> </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
</section>
                       
                       
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                </section>
    



            </section>
        </section>
    </section>
    <!-- Bootstrap -->
    <!-- App -->
{% include "script.html" %}
<script src="{% static "js/jquery.validate.min.js" %}"></script>
<script src="{% static "js/additional-methods.min.js" %}"></script>
      <script>
 

    var $admintable = $('#adminusers');

	   
    $(function () {
	var number=0;
        $admintable.on('page-change.bs.table', function (e, number, size) {
            getAdminData(number, size);
        });
        var options = $admintable.bootstrapTable('getOptions');
        getAdminData(options.pageNumber, options.pageSize);




    });

    function getAdminData(number, size) {
	if(isNaN(number)){
	number=1;
	}
        $.get('admin/list', {
            offset: (number - 1) * size,
            limit: size
        }, function (res) {
            console.log(res)
            $admintable.bootstrapTable('load', res);
        });
    }


 
   



  function displayAdminEdit(value, row) {

         return "<a class='btn btn-small btn-primary' href='#' onclick=editAdmin("+row.id+",'"+row.username+"','"+encodeURI(row.role)+"')>Edit</a>  "+
         "<a class='btn btn-small btn-danger' href='#' onclick='deleteAdmin("+row.id+")'>Delete</a>"
    "</ul>"
    }


function editAdmin(id,username,role){
    jQuery("#editusername").val(username);
    jQuery("#editrole").val(role);
    jQuery("#editadmin").appendTo("body").modal()

    }



          function deleteAdmin(id){
              location.href="admin/delete/"+id

          }


    </script>
</body>




<div id="editadmin" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Edit Admin</h4>
      </div>



     <form action="/manager/admin/update" class="form-horizontal" method="post">


      <div class="modal-body">






     <div class="form-group">
     <label class="col-sm-2 control-label">Username</label>
     <div class="col-sm-10">

     <input type="text" name="username" id="editusername" class="form-control" value="">
     </div>
     </div>

     <div class="line line-dashed b-b line-lg pull-in"></div>

     <div class="form-group">

     <label class="col-lg-2 control-label">Password</label>
     <div class="col-lg-10">
     <input type="password" name="password" id="editpassword" class="form-control" placeholder="password">
     </div>
     </div>

  <div class="line line-dashed b-b line-lg pull-in"></div>


      <div class="form-group">

     <label class="col-lg-2 control-label">Role</label>
     <div class="col-lg-10">
         <select name="role" id="editrole" class="form-control">
   {% for r in data.role %}

        <option {% if data.admin.role == r.id %}selected{% endif %} value={{r.id}}>{{r.name}}</option>
   {% endfor %}
         </select>
     </div>
     </div>


       <div class="line line-dashed b-b line-lg pull-in"></div>
<input type="hidden" name="uid" id="uid" class="form-control" value="{% if data.admin.id %}{{ data.admin.id }}{% endif %}">


{% csrf_token %}


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
       </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</html>