{% load static %}
     <script src="{% static "js/jquery.min.js" %}"></script>
     <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-table.js" %}"></script>
    <script src="{% static "js/charts/easypiechart/jquery.easy-pie-chart.js" %}"></script>
    <script src="{% static "js/charts/sparkline/jquery.sparkline.min.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.min.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.spline.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.pie.min.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "js/charts/flot/jquery.flot.grow.js" %}"></script>
    <script src="{% static "js/charts/flot/demo.js" %}"></script>
    <script src="{% static "js/calendar/bootstrap_calendar.js" %}"></script>
    <script src="{% static "js/calendar/demo.js" %}"></script>
    <script src="{% static "js/sortable/jquery.sortable.js" %}"></script>
    <script src="{% static "js/app.plugin.js" %}"></script>
    <!-- datatables -->
   <script src="{% static "js/bootstrap-table-filter-control.js" %}"></script>
   <script src="{% static "js/bootstrap-table-export.js" %}"></script>
   <script src="{% static "js/bootstrap-table-editable.js" %}"></script>
   <script src="{% static "js/bootstrap-select.js" %}"></script>
   <script src="{% static "js/ajax-bootstrap-select.js" %}"></script>
    <script src="{% static "js/bootstrap-table-filter-control.js" %}"></script>
   <script src="{% static "js/datepicker/bootstrap-datepicker.js" %}"></script>
    <script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

