{% load static %}

  <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">{{ data.sitename }}  is a mobile android app where you can access audiobooks and sell audiobooks as a publisher.</h2>
                    <div class="summary">
                         <h4>  <p>We at {{ data.sitename }} seek to make learning and reading much easier, provide a friendly platform for encountering relevant knowledge and improving listening among our users.</p>
                        <p> With {{ data.sitename }}, you can break through the borders of traditional boundaries of reading.</p>
                             <p>We believe that learning has always been fun, you have never just found out the right way to go about it!</p>
                             </h4>

                    </div>
                    <div class="download-area">
                        <ul class="btn-group list-inline">

                            <li class="android-btn"><a href="#">Get it from Google Play</a></li>
                        </ul>

                    </div>
                </div><!--//overview-->

                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="../static/images/iphone/iphone-slide-1.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="../static/images/iphone/iphone-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="../static/images/iphone/iphone-slide-3.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->
                        </div><!--//iphone-holder-inner-->
                    </div><!--//iphone-holder-->
                </div><!--//iphone-->
                <!--// iPhone ends -->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->