{% load static %}
 <!-- ******STORY****** -->
    <section id="story" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">{{ data.sitename }} Partnership Schemes (APS)</h2>
                    <h4><p>Sell To Us: think we will be interested in buying your scripts or notes? You may be right!</p>
                    <p>One-click: create audio books</p>
                    </h4>
                </div><!--//content-->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->